<!DOCTYPE html>
<html>
<head>
    <title>Napchart</title>
    <% include ../partials/head.ejs %>

    <% if(url == 'www.napchart.com' || url == 'napchart.com'){ %>

        <% include ../partials/analytics.ejs %>

        <% } %>

    </head>

    <body>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700,900" rel="stylesheet">
<div id="cont">
<div class="logo">Napchart</div>

<canvas id="canvas" width="800" height="600">
                        </canvas>
                        </div>
                    <% include ../partials/scripts.ejs %>





                </body>
                </html>
