<!DOCTYPE html>
<html>
<head>
    <title>Napchart</title>
    <% include ../partials/head.ejs %>

    <% if(url == 'www.napchart.com' || url == 'napchart.com'){ %>

        <% include ../partials/analytics.ejs %>

        <% } %>

    </head>

    <body>
    <!-- <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700,900" rel="stylesheet"> -->
<div id="cont">
<!-- <div class="logo">Napchart</div> -->

<canvas id="canvas" width="700" height="600">
                        </canvas>
                        </div>
<canvas id="canvas2" width="400" height="400">
                        </canvas>
                    <% include ../partials/scripts.ejs %>





                </body>
                </html>
